:root {
  --background-color-dark1: #1f2128;
  --background-color-dark2: #242731;
  --background-color-dark3: #34373d;
  --background-color-light: #ffffff;
  /* --color: #6c5dd3; */
  --text-color: #808191;
  --text-color-dark: #fff;
  --text-color-light: #000;
  --bg-btn-light-hover: #ff754c;
  /* Value */
  --sidebar-width: 25.6rem;
  --sidebar-width-active: 9.6rem;
  --header-height: 9.6rem;
  --header-height-active: 5.6rem;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-width: 300px;
}

ion-icon {
  font-size: 2.3rem;
}

a {
  text-decoration: none;

}

button {
  border: none;
  text-transform: capitalize;
}

img {
  display: block;
  max-width: 100%;
}

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

/*  */

/* .page {
  font-family: "Inter", sans-serif;
} */

.page {
  font-family: 'Poppins', sans-serif;
}

.page {
  background-color: var(--background-color-dark1);
  color: var(--text-color);
}

/* Button */


.button {
  min-width: 166px;
  height: 56px;
  padding: 0 20px;
  border: none;
  border-radius: 16px;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 700;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
}

.btn_wide {
  min-width: 100%;
}

.btn_blue {
  background: #3F8CFF;
  color: #ffffff;
}

.btn_purple {
  background: #6C5DD3;
  color: #ffffff;
}

.btn_purple-light {
  background: rgba(228, 228, 228, 0.2);
  color: #3F8CFF;
}

.btn_gray {
  background: rgba(228, 228, 228, 0.1);
  color: #ffffff;
}

.page.toggle .btn_gray, .page.toggle .btn_purple {
  background: #3F8CFF;
  color: #ffffff;
}

/* Background Color */

.bg-blue {
  background: #3F8CFF;
}

.bg-orange {
  background: #FF754C;
}

.bg-purple {
  background: #6C5DD3;
}

.bg-green {
  background: #7FBA7A;
}

/* COlor */

.color-gray {
  color: #808191;
}

/* Grid */

.grid__full-width {
  width: 100%;
  margin: 0;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}

.popup__message.active {
  min-width: 260px;
}

/* .row {
  margin-top: 1.5rem;
} */

/* 
max-width: 320px (điện thoại di động, hiển thị chiều dọc)
max-width: 400px (điện thoại di động, hiển thị chiều dọc)
max-width: 600px (máy tính bảng, hiển thị chiều dọc)
max-width: 768px (máy tính bảng loại to, hiển thị chiều dọc)
min-width: 1025px (từ size này trở lên là danh cho desktop thông thường).

max-width: 480px (điện thoại di động, hiển thị chiều ngang)
max-width: 800px (máy tính bảng, hiển thị chiều ngang)
max-width: 1024px (máy tính bảng loại to, hiển thị chiều ngang)


*/